<h1>Guest#open_lottery</h1>
<p>Find me in app/views/guest/open_lottery.html.erb</p>

<%= @ticket.lottery_code %></br>
<%= @ticket.guest_code %></br>
<%= @ticket.seq %></br>
<%= @ticket.token %></br>
<%= @ticket.gift_seq %></br>
<%= @ticket.act_flg %></br>
<%= @ticket.status %></br>
</br>
<% if @open_flg == "1" then %>
  <%= link_to 'Result', "/guest/result" %>
<% else %>
  <%= @msg %>
<% end %>