<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @owner.code %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @owner.password_digest %>
</p>

<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
